html, body{
    margin: 0;
    padding: 0;
}
.header{
    padding: 0;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #b6b61f;
    text-align: center;
    
}
h1, img, div{
    margin: 0;
    padding: 0;
}
.header h1{
    font-size: 50px;
}
.box{
    box-sizing: border-box;
    margin: 20px auto;
    width: 100%;
    height: 100vh;
    max-width: 1000px;
    max-height: 1000px;
   
    perspective: 1000px;
}
.control{
    transform-style: preserve-3d;
}
.page{
    width: 100%;
    height: 100%;
    
    display: flex;
    transform: translateZ(-10000px);

}
body:hover .page{
    animation: prox;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.sub{
    
   
    box-sizing: border-box;
    width: 50%;
    align-self: flex-start;
    flex: 1 1 auto;
}
.page2{
    align-self: center;
}
img{
    width: 100%;
}
@keyframes prox{
    0%{
        transform: translateZ(-10000px);
    }
    100%{
        transform: translateZ(0);
    }
}